@mixin flat_button
  padding: 0px 10px
  height: 40px
  line-height: 40px
  text-align: center
  background: #fafafa
  font-size: 12px
  text-spacing: 3px
  color: #333
  border: 1px solid #ddd
  border-radius: 4px

  cursor: pointer

  &.orange
    color: #fff
    background: $nice_green
    border: none
    &:hover
      background: #ff8038

  &.red
    color: #fff
    background: #c80a05
    border: none
    &:hover
      background: #ea0a05