@mixin flat_button
  padding: 0px 10px
  height: 40px
  line-height: 40px
  text-align: center
  background: #fafafa
  font-size: 14px
  color: #333
  border: 1px solid #ddd

  cursor: pointer

  &.orange
    color: #fff
    background: #f27935
    border: none
    &:hover
      background: #ff8038

  &.red
    color: #fff
    background: #c80a05
    border: none
    &:hover
      background: #ea0a05