#dialog-region
  diplay: none

  .dialog-background
    width: 100%
    height: 100%
    position: fixed

    background: #000
    opacity: 0.4
    z-index: 1

  .dialog
    width: 700px
    height: 600px
    background: #fff

    position: fixed
    top: 50%
    left: 50%

    margin-top: -300px
    margin-left: -350px

    z-index: 2
    box-shadow: 0 0 10px rgba(81, 81, 81, 0.55)

    .header
      height: 40px
      line-height: 40px
      text-align: center
      background: $dark_blue
      color: #f1f1f3
      font-size: 16px

    .footer
      height: 80px
      width: 700px
      background: #fafafa
      border-top: 1px solid #f2f2f2
      position: absolute
      bottom: 0px
      left: 0px


      .buttons
        height: 80px


        .button
          margin-top: 20px
          margin-right: 20px
          float: right
          @include flat_button
