#sidebar-region
  width: 250px
  height: 100%
  position: fixed


  background: #323a45
  color: #f1f1f3

  .project-title
    padding: 25px 0px
    height: 40px
    line-height: 40px
    text-align: center

    font-size: 28px
    font-weight: bold

    font-family: 'Helvetica Neue'

    border-bottom: 1px solid #3d4855


  .links
    list-style: none
    width: 250px
    padding: 0px
    margin: 25px 0px
    text-align: center

    li

      a
        color: #f1f1f3
        text-decoration: none
