@mixin set_info
  float: left
  height: 20px
  line-height: 20px
  text-align: center
  background: #333
  font-size: 13px
  color: #fff
  font-weight: 200
  padding: 0px 5px

#workouts
  margin-top: 80px
  .workout
    width: 630px
    margin: 0px auto
    margin-bottom: 20px
    background: #f2f2f2


    .title
      width: 590px
      font-size: 18px
      text-align: right
      padding: 10px 20px
      border-bottom: 1px solid #ddd


    .body
      .exercises
        width: 630px

        .exercise-container
          border-bottom: 1px solid #ddd

          .exercise
            padding: 10px 20px
            display: block
            position: relative
            &:hover
              background: #fcfcfc
            .name
              height: 30px
              font-size: 16px
            .sets
              margin-left: 0px
              list-style: none
              &:after
                display: table
                content: ""
                clear: both
              .set
                float: left
                margin-right: 5px
                .weight
                  border-right: 1px solid #ddd
                  @include border-radius(5px 0 0 5px)
                  @include set_info

                .repeats
                  @include border-radius(0 5px 5px 0)
                  @include set_info

            .actions
              display: none
              position: absolute
              top: 15px
              right: 15px

              .edit
                font-size: 12px
                color: #666

              .delete
                font-size: 12px
                color: #666
