.workouts
  .workout
    height: 75px
    border-bottom: 1px solid #f2f2f2
    cursor: pointer

    &:hover
      background: #f6f6f6

    &.selected
      background: #fff
      border-left: 5px solid $nice_yellow

    .header
      .date
        padding: 5px 10px
        font-size: 12px
        color: $dark_blue
    .body
      padding: 5px 10px
      font-size: 12px
      color: $medium_blue