#workouts
  .workout
    padding: 20px
    margin-bottom: 20px
    background: #ececec

    .title
      font-size: 16px
      text-align: right
      padding-bottom: 5px
      border-bottom: 1px solid #ccc
