#sidebar-region

  .project-title
    Fitdiary

  %ul.links
    %li
      %a{href: '#workouts'} Тренировки


#dialog-region

.wrapper
  #main-region

:javascript
  $(function() {
    FitdiaryApp.start();
  });