#workouts-list-region

#sidebar-region

  .project-title
    fitdiary

  %ul.links
    %li.active
      %a{href: '#workouts'} Тренировки
    %li
      %a{href: '#workouts'} Прогресс
    %li
      %a{href: '#workouts'} Весометр
    %li
      %a{href: '#workouts'} Цели



#dialog-region

.wrapper
  #main-region

:javascript
  $(function() {
    FitdiaryApp.start();
  });